@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Open+Sans:ital,wght@1,700&display=swap');

body {
    margin: 1px;
    padding: 1px;
    background: rgba(32,160,217,1);
    background: linear-gradient(90deg, rgba(103,58,183,1) 25%, rgba(32,160,217,1) 95%);
}

*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: 'Open Sans', sans-serif;font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

#barralateral {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 80px;
    height: 100%;
    background: #151f25;
    z-index: 1;
}

#barrasuperior {
    left: 0px;
    top: 0px;
    position: fixed;
    width: 100%;
    height: 50px;
    background: #151f25;
    z-index: 1;
}

#elementos {
    margin-top: 55px;
}

#barralateral ul li {
    margin: 0px;
    color: white;
    text-align: center;
    font-size: 15px;
    padding: 25px 5px;
    border-bottom: 1px solid rgba(100, 100, 100, .3);
}

.icono {
    width: 31px;
    position: relative;
}

#barrasuperior #busqueda {
    width: 35%;
    padding: 5px 5px;
    position: relative;
    left: 81px;
    top: 9px;
}




#contenedor {
    width: 1050px;
    height: auto;
    position: relative;
    margin: 100px 210px;
}

#principal {
    position: relative;
    width: 1050px;
    height: 200px;
}

#imagen {
    position: relative;
    width: 25%;
    height: 100%;
    float: left;
}

#compartir {
    position: relative;
    width: 73%;
    height: 100%;
    float: right;
}

#compartir textarea {
    width: 58%;
    height: 50%;
    border-radius: 1em;
    resize: none;
    position: relative;
    margin: 15px;
    padding: 5px;
    top: 20px;
}

.acep {
    width: 35%;
    background: #616161;
    border-radius: 1em;
    padding: 8px;
    color: black;
    font-size: 15px;
    position: relative;
    top: 75px;
}

#aceptar {
    width: 35%;
    height: 100%;
    float: right;
}

#users {
    width: 100%;
    height: 200px;
    margin-top: 20px;
}

#imgn {
    position: relative;
    width: 25%;
    height: 100%;
    float: left;
}

#comentarios {
    position: relative;
    width: 73%;
    height: 100%;
    float: right;
    background:#eeeeee;
    border-radius: 0.5em;
}

#comentarios #contenido {
    width: 100%;
    height: 65%;
    position: relative;
}

#comentarios #informacion {
    width: 100%;
    height: 35%;
    position: relative;
    border-radius: 0.5em;
}

#sec1 {
    width: 33%;
    height: 100%;
    position: relative;
    float: left;
}

#sec2 {
    width: 33%;
    height: 100%;
    position: relative;
    float: left;
}

#sec3 {
    width: 33%;
    height: 100%;
    position: relative;
    float: left;
}

.imgperfil {
    
    position: relative;
    border-radius: 50%;
    float: right;
    top: 18px;
}

.perfiluser {
    
    position: relative;
    border-radius: 50%;
    float: right;
    top: 18px;
}

#contenido textarea {
    width: 85%;
    height: 75%;
    border-radius: 1em;
    resize: none;
    position: relative;
    margin: 15px;
    padding: 5px;
    background: #212121;
    color: white;
}

.iconouser {
    width: 13%;
    position: relative;
    float: left;
    left: 15px;
    top: 18px;
}

#informacion p {
    position: relative;
    font-size: 15px;
    left: 25px;
    top: 24px;
}