@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Open+Sans:ital,wght@1,700&display=swap');

body {
    background: rgba(32,160,217,1);
    background: linear-gradient(90deg, rgba(103,58,183,1) 0%, rgba(32,160,217,1) 95%);
}

#container {  
    width: 1100px;
    height: 650px;
    margin: 60px auto;
}

#seccion1 {
    position: relative;
    float: right;
    width: 48%;
    height: 100%;
    margin: 0px;
}

#formulario {
    position: relative;
    width: 100%;
    height: 60%;  
}

#formulario .im {
    position: relative;
    width: 15%;
    float: right;
    right: 23%;
    top: 28%;
    z-index: 1;
}

.reg {
    width: 65%;
    background: #f5f5f5;
    position: relative;
    border-radius: 1em;
    padding: 5%;
    margin: auto;
    top: 25%;
    font-family: 'Open Sans', sans-serif;font-family: 'Open Sans', sans-serif;
    -webkit-box-shadow: 0px 0px 15px 8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 8px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 8px rgba(0,0,0,0.75);
}

.opcion {
    width: 75%;
    margin: 3%;
    position: relative;
    left: 10%;
    font-family: 'Open Sans', sans-serif;font-family: 'Open Sans', sans-serif;
}

.controles {
    width: 100%;
    border-radius: 1em;
    margin-bottom: 5%;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;font-family: 'Open Sans', sans-serif;
}

.reg .boton {
    position: relative;
    width: 40%;
    background: #616161;
    border-radius: 1em;
    padding: 5px;
    color: black;
    font-size: 15px;
    border: none;
    margin-left: 30%;
    font-family: 'Open Sans', sans-serif;font-family: 'Open Sans', sans-serif;
}

.reg .parr {
    font-size: 15px;
    text-align: center;
}



#seccion2 {
    float: left;
    width: 48%;
    height: 100%;
}

#seccion2img {
    float: bottom;
    width: 100%;
    height: 49%;
}

#seccion2titulo {
    bottom: 25px;
    width: 100%;
    height: 45%;
    font-family: 'Fredoka One', cursive;
    font-size: 30px;
    text-align: center;
    position: relative;
}

#imagen {
    width: 50%;
    position: relative;
    top: 23%;
    left: 25%;
}

#inf {
    width: 80%;
    position: relative;
    bottom: 9%;
    left: 10%;
    font-size: 18px;
    text-align: left;
    font-family: 'Open Sans', sans-serif;font-family: 'Open Sans', sans-serif;
 }